@charset "UTF-8";

.wrapper {
  display: grid;

  grid-template-columns: 200px 200px 200px;
  /*
  ------------------------------------------
  função minmax
  ------------------------------------------
  grid-template-columns: minmax(200px, 40%) 200px 200px;
  ------------------------------------------
  função fracionária
  ------------------------------------------
  grid-template-columns: 1fr 1fr 1fr;
  ------------------------------------------
  */
  grid-gap: 10px;
  grid-auto-rows: 200px;

  /*
  ----------------------------
  alinhamento vertical
  ----------------------------
  align-items: end;*/
  /*
  ----------------------------
  alinhamento horizontal
  ----------------------------
  justify-items: center;
  */
}
.wrapper div {
  background-color: royalblue;
  padding: 1rem;
}

.wrapper div:nth-child(even) {
  background-color: skyblue;
}

.wrapper > div:nth-child(2) {
  align-self: center;
  justify-self: center;
  /*
  --------------------------------
  alinhamento específíco
  --------------------------------
  align-self: center;
  justify-self: center;
  */
}
