@charset "UTF-8";

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  /*
  ------------------------------------------
  função minmax
  ------------------------------------------
  grid-template-columns: minmax(200px, 40%) 200px 200px;
  ------------------------------------------
  função fracionária
  ------------------------------------------
  grid-template-columns: 1fr 1fr 1fr;
  ------------------------------------------
  */
  grid-gap: 10px;
}

.wrapper > div:nth-child(1) {
  grid-column: 1 / -1;
  height: 400px;
}
.wrapper > div:nth-child(2) {
  grid-column: 1;
}
.wrapper > div:nth-child(3) {
  grid-column: 2/ 5;
}
.wrapper > div:nth-child(5) {
  grid-column: 1 / -1;
}

.wrapper > div {
  background-color: royalblue;
  padding: 1rem;
}

.wrapper > div:nth-child(even) {
  background-color: skyblue;
}
@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .wrapper > div:nth-child(3) {
    grid-column: 1;
  }
}
