@charset "UTF-8";

.l-wrapper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    "header"
    "main" "aside-main" "sidebar" "aside-sec" "footer";
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 0 auto;
  /*max-width: 1200px;*/
}

.l-header {
  background-color: skyblue;
  grid-area: header;
}

.l-main {
  background-color: coral;
  grid-area: main;
}

.l-sidebar {
  background-color: royalblue;
  grid-area: sidebar;
}

.l-aside-main {
  background-color: blueviolet;
  grid-area: aside-main;
}

.l-aside-sec {
  background-color: aquamarine;
  grid-area: aside-sec;
}

.l-footer {
  background-color: chocolate;
  grid-area: footer;
}

@media (min-width: 768px) {
  .l-wrapper {
    grid-template-columns: 1fr repeat(4, minmax(auto, 200px)) 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr;
    grid-template-areas:
      "header header header header header header"
      " . main main main sidebar . "
      " . aside-main aside-main aside-sec aside-sec  . "
      "footer footer footer footer footer footer ";
  }
}
